@import "variables";

.button{
    background-color: $color-second;
    border: 1px solid $color-fourth;
    color: $color-fourth;
    padding: 5px 5px;
    border-radius: 5px;
    transition: opacity 200ms ease-in-out;
    font-size: $font-size-s;
    cursor: pointer;
    min-width: 100px;

    &:disabled{
        opacity: 0.5;
        &:hover{
            opacity: 0.5;
        }
    }

    &:hover{
        opacity: 0.9;
    }
}