$color-first: #22223b;
$color-second: #4a4e69;
$color-third: #9a8c98;
$color-fourth: #c9ada7;
$color-fifth: #f2e9e4;
$color-error: #cf7b7b;
$color-good: #85cf7b;

$font-family: Roboto;

$font-size-xl: 25px;
$font-size-l: 17px;
$font-size-m: 15px;
$font-size-s: 13px;