@import "variables";

$timer-width: 100px;

:host{
    display: flex;
    width: 100%;
    background-color: $color-fifth;
    border-radius: 7px;
    min-height: 50px;
    margin: 20px 0px;
    box-sizing: border-box;
    align-items: center;
    border: 1px solid rgba($color-second, 0.2);

    .task-content{
        display: flex;
        flex-direction: column;
        width: calc(100% - $timer-width);
        border-right: 1px solid rgba($color-second, 0.2);
        .title{
            display: flex;
            align-items: center;
            padding: 7px 7px 2px 7px;
            span:nth-child(1){
                font-size: $font-size-m;
                margin-right: 5px;
                font-weight: 500;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            span:nth-child(2){
                font-size: $font-size-s;
                color: $color-second;
            }
        }

        .description{
            padding: 0px 7px;
            span{
                font-size: $font-size-s;
            }
        }
    
        .actions{
            display: flex;
            justify-content: center;
            width: 130px;
            background-color: $color-second;
            margin: auto;
            border-radius: 10px 10px 0px 0px;
            padding-top: 2px;
            margin-top: 10px;
            position: relative;
            bottom: -1px;
            button{
                background: transparent;
                border: none;
                cursor: pointer;
                transition: opacity 200ms ease-in-out;
                &:hover{
                    opacity: 0.7;
                }
                &:disabled{
                    opacity: 0.2;
                }
                img{
                    width: 25px;
                }
            }
        }
    }
    .timer{
        width: $timer-width;

        .state{
            display: flex;
            justify-content: center;
            .completed{
                width: 50px;
            }
            .timeout{
                width: 70px;
            }
        }
    }
}
